@font-face {
  font-family: 'chalk';
  src: url('https://tylermoeller.github.io/tic-tac-toe/fonts/eraserdust-webfont.eot'),
       url('https://tylermoeller.github.io/tic-tac-toe/fonts/eraserdust-webfont.eot?#iefix') format('embedded-opentype'),
       url('https://tylermoeller.github.io/tic-tac-toe/fonts/eraserdust-webfont.woff2') format('woff2'),
       url('https://tylermoeller.github.io/tic-tac-toe/fonts/eraserdust-webfont.woff') format('woff'),
       url('https://tylermoeller.github.io/tic-tac-toe/fonts/eraserdust-webfont.ttf') format('truetype'),
       url('https://tylermoeller.github.io/tic-tac-toe/fonts/eraserdust-webfont.svg#eraserdust') format('svg');
  font-weight: bold;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'chalk', sans-serif;
  font-size: 12px;
  font-weight: bold;
  -webkit-user-select: none!important;
  -moz-user-select: -moz-none!important;
  -ms-user-select: none!important;
  user-select: none!important;
  background-color: #222222;
  margin-bottom: 120px;
  min-width: 300px;
  text-align: center;
}

.title {
  font-size: 4em;
  color: white;
  text-align: center;
}

/* Tic Tac Toe Board */
.gameboard {
  margin: 3em auto 0 auto;
  padding: 1.1em .25em .9em .25em;
  border-image-source: url('https://tylermoeller.github.io/tic-tac-toe/assets/img/bamboo.jpg');
  border-image-slice: 25;
  border-image-width: 10px;
  max-width: 500px;
  background-color: #222222;
  overflow: hidden;
}

.square {
  display: inline-block;
  position: relative;
  width: 30%;
  padding-bottom: 30%;
  overflow: hidden;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: url('https://tylermoeller.github.io/tic-tac-toe/assets/img/chalkboard.jpg') center;
  margin: 3px;
  cursor: cell;
}

.content {
  position: absolute;
  height: 90%;
  width: 90%;
  margin: 5%;
  overflow: hidden;
}

.table {
  display: table;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.table-cell {
  display: table-cell;
  vertical-align: middle;
}

.game-tile {
  font-size: 5em;
  color: white;
}

.winning-tile {
  background-color: #333333;
}

/* user options */
.letter-options {
  margin-top: 1em;
}

.options {
  color: white;
  font-size: 2em;
}

.start-btn {
  font-size: 1em;
  box-shadow: 0 0 10px #000000;
  margin-top: 0;
}

input {
  cursor: pointer;
}

/* modal end-game dialog */
.refresh {
  cursor: pointer;
  font-size: 1.7em;
}

.fa-stack:active {
  transition: .1s;
  transform: scale(1.2);
}

.fa-refresh {
  color: white;
}

#winModal {
  top: 15%;
  min-width: 20em;
}

.modal-content {
  background-color: rgba(255,255,255,.8);
  margin-left: 12%;
  margin-right: 12%;
}

.modal-body {
  font-family: sans-serif;
  font-size: 2em;
}

/* footer formatting */
.footer {
  font-family: arial;
  font-weight: 400;
  font-size: 12px;
  position: absolute;
  border-top: 1px solid black;
  bottom: 0;
  width: 100%;
}

.footer-container {
  margin: 1em auto;
  min-width: 280px;
  max-width: 480px;
}

.footer-logos {
  font-size: 1em;
  margin-top: .5em;
}

.footer-logos i {
  text-align: center;
  color: #777777;
  margin-right: 1em;
  padding: .5em;
  border: 1px solid rgba(100, 100, 100, .3);
  border-radius: 25%;
}
